body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.box{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%; /* Adjust as needed */
    height: 50%; /* Adjust as needed */
    margin: auto;
    border: 1px solid black; /* Adjust as needed */
    background-color: #f4f4f4; /* New */
    border-radius: 10px; /* New */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* New */
    padding: 20px; /* New */
}

.box img {
    width: 200px; /* Adjust as needed */
    height: auto; /* Keeps the aspect ratio */
}

label {
    align-self: auto;
    margin-bottom: 1px;
    margin-top: 10px;
    margin-left: 10px;
}

.testo {
    display: fixed;
    width: 75%;
    height: 5%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid rgba(0, 136, 255, 0.242);
    border-radius: 10px;
    outline: none;
}

.submit-button {
    display: block;
    width: 20%; /* Adjust as needed */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #025eae;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 280px;
    
}

.submit-button:hover {
    background-color: #0055cc;
}

.login{
    position:relative;
    bottom: 15px;
    margin-right: 280px;
    
}

